<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rasphome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./scripts/indexScript.js"></script>
    <script type="text/javascript" src="./scripts/script.js"></script>
</head>
<body>

<div class="navBar">
    <div class="navBarMenuItem" onclick="toggleMenu()">
        <img src="./icons/menu_icon.png" width="24" height="24">
    </div>
    <div class="navBarItem">
        <div class="name">Rasphome</div>
        <div class="bottomBar">
            <div type="home">
                Inicio
            </div>
            <div type="rooms">
                Salas
            </div>
            <line style="width: 57px; left: 54px;"></line>
        </div>
    </div>
</div>
<div class="lateralMenu" style="width: 0">
    <div class="lateralMenu-in">
        <div onclick="window.location.href='./rooms'">
            <img src="./icons/home_icon.png"> Salas
        </div>
        <div onclick="window.location.href='./actuators'">
            <img src="./icons/light_icon_white.png"> Atuadores
        </div>
        <div onclick="window.location.href='./sensors'">
            <img src="./icons/sensor_icon_white.png"> Sensores
        </div>
    </div>
</div>
    <div class="sensors">
    </div>
    <div class="loadCircle">
    </div>
    <div id="error" style="visibility: hidden">
        Não foi possivel carregar a pagina
    </div>
    <div class="rooms">
    </div>
</body>
</html>