<html>
<head>
    <title>Rasphome</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <h1>Login site</h1>
    <form>
        <div class="login-box">
            <div class="login-box-in">
                <span>Usuário:</span>
                <input type="text" name="user">
            </div>
            <div class="login-box-in">
                <span>Senha:</span>
                <input type="password" name="password">
            </div>
            <div class="login-box-button">
                <button>Login</button>
            </div>
        </div>
    </form>
</body>
</html>