<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="./css/login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./scripts/mainScript.js"></script>
    <title>Rasphome - Login</title>
</head>

<body>

<div id="main">

    <div class="login-box">
        <img src="./icons/icon.png">
        <div>
            <form method="POST" action="/auth/">
                <div>
                    <input type="text" name="name" title="username" required="">
                    <label>Usuário</label>
                </div>
                <div>
                    <input type="password" name="password" title="password" required="">
                    <label>Senha</label>
                </div>
                <input type="submit" name="submit" title="" value="Logar">
            </form>
        </div>

    </div>

</div>

</body>
</html>